/*--------------------------------------------------------------
# Additional
--------------------------------------------------------------*/
.fs-13px {
    font-size: 13px
}

.edit-text[contenteditable]:focus {
    outline: 3px solid #C2DBFE;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-dialog {
    overflow: hidden;
}

.item-href {
    color: black;
    text-decoration: none;
}

.item-href:hover {
    color: blue;
}

.swipe-in {
    animation: swipeIn 0.35s forwards;
}

.swipe-out {
    animation: swipeOut 0.35s forwards;
}

.datatable {
    display: none;
    opacity: 0;
}

.datatable.showed {
    display: table;
    animation: fadeIn 0.3s forwards;
}

.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(var(--bs-primary-rgb), 0.3);
    background-color: rgba(var(--bs-primary-rgb), 0.1);
}


/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/
@keyframes swipeIn {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes swipeOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
    
    100% {
        transform: translateX(-50%);
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}