body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.form {
    display: flex;
    height: max-content;
    width: max-content;
    flex-direction: row;
    margin: auto;
    background-color: #fff;
}

.form .side {
    width: 300px;
    height: 300px;
}

.form .side img {
    width: 100%;
    height: 100%;
}

.form .content {
    display: flex;
    gap: 10px;
    padding: 20px 50px;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px #0000001a;
    transition: all 0.5s;
}

.form .content:hover {
    box-shadow: 0 0 20px #0000004a;
}

.form .title {
    text-align: center;
}

.form .title * {
    margin: 0;
}

.form .box input {
    padding: 5px 10px;
}

.button {
    font-size: 1rem;
}

.button.primary {
    color: white;
    border-radius: 5px;
    padding: 10px 35px;
    font-weight: bold;
    border-style: none;
    background-color: #00a8ff;
    text-decoration: none;
}

.button.primary:hover {
    background-color: #77cefa;
}

.message.error {
    color: red;
}

.message.success {
    color: green;
}

@media screen and (max-width: 700px) {
    .form .side {
        display: none;
    }
}